* {
    text-align: center;
    color: #777777
}
 #container {
    width: 960px;
    margin: auto;
    border: 3px solid #dddddd;
    background-color: #FFFFFF;
    height: 925px;
}
h2,h4 {
    color: #4aaaa5;

}
p {
    color: #777777;
    font-size: 16px;
    text-align: left;
}
header {
    background: #ffffff;
    border-color: #cccccc;
    position: relative;
    left:0;
    top: 0;
    height: 100px;
    width:100%;
    display: block;
    float: left;
    border-bottom: 1px solid #D1D0D0;
    margin-bottom: 50px;

}
footer {
    background-color: #666666;
    position: fixed;
    height: 60px;
}
h1 {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 0px;
    margin: auto;
    float: left;
    text-align: left;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    left: 150px;
}

.navbar {
    max-width: 960px;
    float: right;
}

a {
    padding: 10px;
    text-decoration: none;}
h2 {
    text-align: left;
    clear: both;
    color: #4AAAA5;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
#mypicture {
    float: left;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    margin: 5px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #FFFFFF;
    height: 50px;
    background-color: #666666;
    padding: 20px;
    border-top: 8px solid #4AAAA5;
    border-color: #4AAAA5;
 }
 h4 {
    color: #FFFFFF;
    bottom: 0;
}
.textBlock {
    box-sizing: border-box;
    position: absolute;
    bottom: -15px;
    left: 10px;
    width: 100%;
    background-color: #4AAAA5;
}
       
 
      